<div>
  <img title="TypeScript" alt="TypeScript" src="/images/icons/language-typescript.svg" />
  <img title="HTML5" alt="HTML5" src="/images/icons/language-html5.svg" />
  <img title="Github" alt="Github" src="/images/icons/github.svg" />
  <img title="Angular" alt="Angular" src="/images/icons/angular.svg" />
  <img title="GraphQL" alt="GraphQL" src="/images/icons/graphql.svg" />
  <img title="React" alt="React" src="/images/icons/react.svg" />
  <img title="Kubernetes" alt="Kubernetes" src="/images/icons/kubernetes.svg" />
  <img title="Docker" alt="Docker" src="/images/icons/docker.svg" />
  <img title="Linux" alt="Linux" src="/images/icons/linux.svg" />
  <img title="Apple" alt="Apple" src="/images/icons/apple.svg" />
  <img title="Node.JS" alt="Node.JS" src="/images/icons/nodejs.svg" />
  <img title="Ubuntu" alt="Ubuntu" src="/images/icons/ubuntu.svg" />
  <img title="3D Design /Printing" alt="3D Design /Printing" src="/images/icons/printer-3d-nozzle.svg" />
  <img title="Material UI" alt="Material UI" src="/images/icons/material-ui.svg" />
</div>